@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

body {
  min-height: 100vh;
}

.picker img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.picker button {
  border: 1px solid #cecece;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
  color: #363636;
}

.picker button:hover {
  background: #d8d8d8;
}

.picker h3 {
  color: #363636;
}

#__next {
  margin: auto 0;
}

.picker {
  width: 100%;
  justify-content: center;
}

.color-picker-section,
.picker {
  display: flex;
  /* height: 100%; */
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
}

.color-picker-section {
  justify-items: center;
  background: #fff;
  padding: 20px;
}

.chosen-color-holder {
  display: flex;
  align-items: center;
}

.chosen-color {
  padding: 10px 15px;
  border-radius: 12px;
}

.chosen-color span {
  filter: invert(1);
}

.images-holder {
  width: 100%;
  max-width: 900px;
  height: calc(900px / 16 * 9);
  position: relative;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .images-holder {
    height: 400px;
  }
}

.images-holder {
  background: #000;
  z-index: 0;
}

.images-holder img {
  object-fit: cover;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.color-overlay,
.image-1,
.image-2,
.image-3,
.image-overlay {
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 900px;
  height: 100%;
}

.image-2 {
  z-index: 2;
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
  opacity: 100%;
}

.image-overlay {
  z-index: 3;
  opacity: 50%;
}

.color-overlay {
  height: 100%;
  z-index: 1;
  mix-blend-mode: screen;
}

.image-1 {
  z-index: 3;
}

.image-3 {
  z-index: 4;
}

input,
label {
  display: block;
}

form * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form input[type="range"] {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}

form select {
  width: 100px;
}

form input[type="email"],
form input[type="tel"],
form input[type="text"],
form select {
  margin-bottom: 15px;
  margin-top: 10px;
}

form button {
  width: calc(50% - 10px) !important;
  margin-top: 15px;
  text-align: center;
  display: inline-block !important;
  white-space: nowrap;
  font-size: 12px !important;
  padding: 10px 5px !important;
}

form button:first-of-type {
  margin-right: 10px !important;
}

form .form-div-50 {
  display: block !important;
  width: 100% !important;
  padding: 0;
}

#colored,
#print {
  width: 300px !important;
}

.form-select {
  width: 340px;
  border: none;
  margin-top: 40px;
}

.iframe-picker {
  height: 1700px !important;
}

@media (min-width: 640px) {
  .iframe-picker {
    height: 1013px !important;
  }

  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .form-select {
    margin-top: 30px;
  }

  form button {
    font-size: 12px !important;
    padding: 10px 15px !important;
  }

  #colored,
  #print {
    width: 100% !important;
  }

  form input[type="range"] {
    width: 100%;
  }

  form select {
    width: 130px;
  }

  form .form-div-50 {
    display: inline-block !important;
    width: 50% !important;
    padding: 0 20px;
  }

  .container {
    max-width: 768px;
  }

  .picker {
    flex-direction: row;
  }

  .color-overlay,
  .image-1,
  .image-2,
  .image-3,
  .image-overlay {
    max-width: 900px;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 780px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 780px;
  }
}

.outerContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.pickedColorContainer {
  flex: 1 1;
}

.pickedColor {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  /* height: calc(88% - 4px); */
  height: 45px;
  margin: 2% 8.33% 0;
  background: rgb(21, 234, 170);
}

.hexValue {
  font-family: serif;
  font-weight: 700;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.colorWheel {
  display: flex;
  position: relative;
  height: 83.33%;
}

.wheel {
  cursor: pointer;
  z-index: 1;
  position: relative;
  flex: 1 1;
  height: 100%;
  border-radius: 100%;
  outline: none;
  background: radial-gradient(
      circle at 50% 0,
      red,
      rgba(242, 13, 13, 0.8) 10%,
      rgba(230, 26, 26, 0.6) 20%,
      rgba(204, 51, 51, 0.4) 30%,
      rgba(166, 89, 89, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 85.35533905932738% 14.644660940672622%,
      #ffbf00,
      rgba(242, 185, 13, 0.8) 10%,
      rgba(230, 179, 26, 0.6) 20%,
      rgba(204, 166, 51, 0.4) 30%,
      rgba(166, 147, 89, 0.2) 40%,
      hsla(45, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 100% 50%,
      #80ff00,
      rgba(128, 242, 13, 0.8) 10%,
      rgba(128, 230, 26, 0.6) 20%,
      rgba(128, 204, 51, 0.4) 30%,
      rgba(128, 166, 89, 0.2) 40%,
      hsla(90, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 85.35533905932738% 85.35533905932738%,
      #00ff40,
      rgba(13, 242, 70, 0.8) 10%,
      rgba(26, 230, 77, 0.6) 20%,
      rgba(51, 204, 89, 0.4) 30%,
      rgba(89, 166, 108, 0.2) 40%,
      hsla(135, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 50.00000000000001% 100%,
      #0ff,
      rgba(13, 242, 242, 0.8) 10%,
      rgba(26, 230, 230, 0.6) 20%,
      rgba(51, 204, 204, 0.4) 30%,
      rgba(89, 166, 166, 0.2) 40%,
      hsla(180, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 14.64466094067263% 85.35533905932738%,
      #0040ff,
      rgba(13, 70, 242, 0.8) 10%,
      rgba(26, 77, 230, 0.6) 20%,
      rgba(51, 89, 204, 0.4) 30%,
      rgba(89, 108, 166, 0.2) 40%,
      hsla(225, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 0 50.00000000000001%,
      #7f00ff,
      rgba(128, 13, 242, 0.8) 10%,
      rgba(128, 26, 230, 0.6) 20%,
      rgba(128, 51, 204, 0.4) 30%,
      rgba(128, 89, 166, 0.2) 40%,
      hsla(270, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 14.644660940672615% 14.64466094067263%,
      #ff00bf,
      rgba(242, 13, 185, 0.8) 10%,
      rgba(230, 26, 179, 0.6) 20%,
      rgba(204, 51, 166, 0.4) 30%,
      rgba(166, 89, 147, 0.2) 40%,
      hsla(315, 0%, 50%, 0) 50%
    );
}

.handle {
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.handle,
.saturationBar-level {
  border-radius: 100%;
  position: absolute;
}

.saturationBar-level {
  height: 20px;
  width: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #000;
}

.lightnessBar {
  right: 0;
}

.lightnessBar-level {
  height: 20px;
  width: 20px;
  background-color: #000;
}

.defaultHandle,
.lightnessBar-level {
  position: absolute;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.defaultHandle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

.barBackground {
  height: 90%;
  width: 100%;
  mask-image: url(site/mask.72cf50a2.svg);
  -webkit-mask-image: url(site/mask.72cf50a2.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
}

.IroWheelSaturation {
  background: unset !important;
}

.IroHandle {
  z-index: 32;
}
.IroWheelHue {
  z-index: 30;
  background: radial-gradient(
      circle at 50% 0,
      red,
      rgba(242, 13, 13, 0.8) 10%,
      rgba(230, 26, 26, 0.6) 20%,
      rgba(204, 51, 51, 0.4) 30%,
      rgba(166, 89, 89, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 85.35533905932738% 14.644660940672622%,
      #ffbf00,
      rgba(242, 185, 13, 0.8) 10%,
      rgba(230, 179, 26, 0.6) 20%,
      rgba(204, 166, 51, 0.4) 30%,
      rgba(166, 147, 89, 0.2) 40%,
      hsla(45, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 100% 50%,
      #80ff00,
      rgba(128, 242, 13, 0.8) 10%,
      rgba(128, 230, 26, 0.6) 20%,
      rgba(128, 204, 51, 0.4) 30%,
      rgba(128, 166, 89, 0.2) 40%,
      hsla(90, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 85.35533905932738% 85.35533905932738%,
      #00ff40,
      rgba(13, 242, 70, 0.8) 10%,
      rgba(26, 230, 77, 0.6) 20%,
      rgba(51, 204, 89, 0.4) 30%,
      rgba(89, 166, 108, 0.2) 40%,
      hsla(135, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 50.00000000000001% 100%,
      #0ff,
      rgba(13, 242, 242, 0.8) 10%,
      rgba(26, 230, 230, 0.6) 20%,
      rgba(51, 204, 204, 0.4) 30%,
      rgba(89, 166, 166, 0.2) 40%,
      hsla(180, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 14.64466094067263% 85.35533905932738%,
      #0040ff,
      rgba(13, 70, 242, 0.8) 10%,
      rgba(26, 77, 230, 0.6) 20%,
      rgba(51, 89, 204, 0.4) 30%,
      rgba(89, 108, 166, 0.2) 40%,
      hsla(225, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 0 50.00000000000001%,
      #7f00ff,
      rgba(128, 13, 242, 0.8) 10%,
      rgba(128, 26, 230, 0.6) 20%,
      rgba(128, 51, 204, 0.4) 30%,
      rgba(128, 89, 166, 0.2) 40%,
      hsla(270, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 14.644660940672615% 14.64466094067263%,
      #ff00bf,
      rgba(242, 13, 185, 0.8) 10%,
      rgba(230, 26, 179, 0.6) 20%,
      rgba(204, 51, 166, 0.4) 30%,
      rgba(166, 89, 147, 0.2) 40%,
      hsla(315, 0%, 50%, 0) 50%
    ) !important;
}

.knob2,
.knob1 {
  cursor: grab !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  width: 450px;
}

.slider-container {
  width: 0;
  /* position: absolute; */
  height: 250px;
  /* width: 70.25px; */
  cursor: grab;
}

#rangeLeft {
  /* IE */
  writing-mode: bt-lr;
  /* Chromium */
  -webkit-appearance: slider-vertical;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 233px;
  width: 22%;
  top: 10px;
  cursor: grab;
  z-index: 23;
  opacity: 0;
}

#rangeLeft::-webkit-slider-thumb,
#rangeRight::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 50px;
  background: #ccc;
  cursor: pointer;
}

#rangeLeft::-moz-range-thumb,
#rangeRight::-moz-range-thumb {
  width: 40px;
  height: 50px;
  background: #ccc;
  cursor: pointer;
}

#rangeRight {
  /* IE */
  writing-mode: bt-lr;
  /* Chromium */
  -webkit-appearance: slider-vertical;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 233px;
  width: 70px;
  cursor: grab;
  top: 10px;
  z-index: 23;
  opacity: 0;
}
