html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar:hover {
  width: 1.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  border: 0.25em solid transparent;
  border-radius: 100vw;
  background-color: #8070d4;
  background-clip: content-box;
}

body {
  width: 100%;
  overflow: overlay;
}

#slide_2 {
  text-align: center;
  margin: 70px;
}

#slide_2 img {
  margin-left: 10px;
}

#logo {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 3%;
  z-index: 22222;
}

#slogan {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 6%;
  color: white;
  font-size: 4vw;
  z-index: 22222;
}

.info {
  position: absolute;
  z-index: 2;
}

.info:hover {
  cursor: pointer;
}

#arrow {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 1%;
  z-index: 2;
}

#arrow img:hover {
  cursor: pointer;
}

.arrow-up {
  transform: rotate(0deg);
  transition: 600ms ease all;
}

.arrow-down {
  transform: rotate(180deg);
  transition: 600ms ease all;
}
